*{
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: darkslategrey; */
  scroll-behavior: smooth;
}

section{
  min-height: 100vh;
  /* padding-top: 3rem; */
  /* padding-bottom: 3rem; */
}